{% extends "Themes/Blog/templates/page.twig" %}
{% block body %}
    <!--single article-->
    <div class="article">
        <div class="articleHeader">
            <h1 class="articleTitle"><a href="http://vinceok.com/wordpress/128.html">【重磅】单栏响应式wordpress主题Simple V2.0正式发布</a></h1>
        </div>
        <div class="articleBody clearfix">
            <!--缩略图-->
            <div class="articleThumb">
                <a href="http://vinceok.com/wordpress/128.html"><img src="http://vince.qiniudn.com/wp-content/uploads/2016/04/Screenshot.png?imageView2/2/w/400/h/200" alt="【重磅】单栏响应式wordpress主题Simple V2.0正式发布" class="wp-post-image"width="400" height="200"  /></a>
            </div>
            <!--摘要-->
            <div class="articleFeed">
                <p>主题简介
                    继4月8日发布基于bootstrap的单栏响应式wordpress主题simple V1.0版本后，陆陆续续接收到了一些bug的反馈和对主题的建议，于是我和Loobo主题笔记一起修复并不断完善主题，并在今日推出Simple的V2.0版本，本版本的更新日志如下：


                    1：由于V1.0中S...</p>
            </div>
        </div>
        <div class="articleFooter clearfix">
            <ul class="articleStatu">
                <li><i class="fa fa-calendar"></i>2016-04-22</li>
                <li><i class="fa fa-eye"></i>2,839次浏览</li>
                <li><a href=""><i class="fa fa-folder-o"></i><a href="http://vinceok.com/category/wordpress" rel="category tag">Wordpress</a></a></li>
            </ul>
            <a href="http://vinceok.com/wordpress/128.html" class="btn btn-readmore btn-info btn-md">阅读更多</a>
        </div>
    </div>
    <!--single article-->
    <!--single article-->
    <div class="article">
        <div class="articleHeader">
            <h1 class="articleTitle"><a href="http://vinceok.com/html5css3/181.html">【原创】毕业风云之HTML5简历模板</a></h1>
        </div>
        <div class="articleBody clearfix">
            <!--缩略图-->
            <div class="articleThumb">
                <a href="http://vinceok.com/html5css3/181.html"><img src="http://vince.qiniudn.com/wp-content/uploads/2016/05/resume.png?imageView2/2/w/400/h/200" alt="【原创】毕业风云之HTML5简历模板" class="wp-post-image"width="400" height="200"  /></a>
            </div>
            <!--摘要-->
            <div class="articleFeed">
                <p>毕业风云
                    又是一年毕业季，众多大四狗又要出去投简历了，说到简历，最近无聊做了个HTML5的简历模板，虽然不能用来投递，但是放博客上做个关于我们的页面还是阔以的。整个项目基于bootstrap和font-awesome，可以随意修改其中的字体图标或者布局。整体的颜色...</p>
            </div>
        </div>
        <div class="articleFooter clearfix">
            <ul class="articleStatu">
                <li><i class="fa fa-calendar"></i>2016-05-19</li>
                <li><i class="fa fa-eye"></i>319次浏览</li>
                <li><a href=""><i class="fa fa-folder-o"></i><a href="http://vinceok.com/category/html5css3" rel="category tag">HTML5&amp;CSS3</a></a></li>
            </ul>
            <a href="http://vinceok.com/html5css3/181.html" class="btn btn-readmore btn-info btn-md">阅读更多</a>
        </div>
    </div>
    <!--single article-->
    <!--single article-->
    <div class="article">
        <div class="articleHeader">
            <h1 class="articleTitle"><a href="http://vinceok.com/music/161.html">&#8220;音乐鬼才&#8221;许嵩《雅俗共赏》MV首播</a></h1>
        </div>
        <div class="articleBody clearfix">
            <!--缩略图-->
            <div class="articleThumb">
                <a href="http://vinceok.com/music/161.html"><img src="http://vince.qiniudn.com/wp-content/uploads/2016/04/3809428659019839056.jpg?imageView2/2/w/400/h/200" alt="&#8220;音乐鬼才&#8221;许嵩《雅俗共赏》MV首播" class="wp-post-image"width="400" height="200"  /></a>
            </div>
            <!--摘要-->
            <div class="articleFeed">
                <p>
                    《雅俗共赏》MV由台湾金曲奖最佳MV导演比尔贾执导。比尔贾与许嵩相识多年，对许嵩的音乐腔调和态度可谓深度了解，这次合作的MV作品也让这两位不同领域的鬼才都感到相当满意。MV中运用了鲜艳红蓝，请来了多位舞台剧演员：“红”派有大红鼻子小丑，马戏团侏儒...</p>
            </div>
        </div>
        <div class="articleFooter clearfix">
            <ul class="articleStatu">
                <li><i class="fa fa-calendar"></i>2016-05-12</li>
                <li><i class="fa fa-eye"></i>260次浏览</li>
                <li><a href=""><i class="fa fa-folder-o"></i><a href="http://vinceok.com/category/music" rel="category tag">音乐</a></a></li>
            </ul>
            <a href="http://vinceok.com/music/161.html" class="btn btn-readmore btn-info btn-md">阅读更多</a>
        </div>
    </div>
    <!--single article-->
    <!--single article-->
    <div class="article">
        <div class="articleHeader">
            <h1 class="articleTitle"><a href="http://vinceok.com/javascript/152.html">【Extjs学习笔记01】使用Sencha Cmd构建项目</a></h1>
        </div>
        <div class="articleBody clearfix">
            <!--缩略图-->
            <div class="articleThumb">
                <a href="http://vinceok.com/javascript/152.html"><img src="http://vince.qiniudn.com/wp-content/uploads/2016/05/extjs5.png?imageView2/2/w/400/h/200" alt="【Extjs学习笔记01】使用Sencha Cmd构建项目" class="wp-post-image"width="400" height="200"  /></a>
            </div>
            <!--摘要-->
            <div class="articleFeed">
                <p>文章背景
                    最近由于项目需求需要使用Extjs来开发，于是便在网上铺天盖地的找起了各种资料，期间的过程也是各种蛋疼，犯了很多低级的错误，走了很多弯路，于是打算写下这个【Extjs学习笔记】系列来记录一下自己的学习心得，Extjs有些版本不是开源的，因此如...</p>
            </div>
            <!--tags-->
            <div class="articleTags">
                <ul><a href="http://vinceok.com/tag/extjs" rel="tag">extjs</a><a href="http://vinceok.com/tag/sencha" rel="tag">sencha</a></ul>
            </div>
        </div>
        <div class="articleFooter clearfix">
            <ul class="articleStatu">
                <li><i class="fa fa-calendar"></i>2016-05-10</li>
                <li><i class="fa fa-eye"></i>269次浏览</li>
                <li><a href=""><i class="fa fa-folder-o"></i><a href="http://vinceok.com/category/javascript" rel="category tag">JAVASCRIPT</a></a></li>
            </ul>
            <a href="http://vinceok.com/javascript/152.html" class="btn btn-readmore btn-info btn-md">阅读更多</a>
        </div>
    </div>
    <!--single article-->
    <!--single article-->
    <div class="article">
        <div class="articleHeader">
            <h1 class="articleTitle"><a href="http://vinceok.com/music/137.html">十年许嵩 雅俗共赏</a></h1>
        </div>
        <div class="articleBody clearfix">
            <!--缩略图-->
            <div class="articleThumb">
                <a href="http://vinceok.com/music/137.html"><img src="http://vince.qiniudn.com/wp-content/uploads/2016/04/3809428659019839056.jpg?imageView2/2/w/400/h/200" alt="十年许嵩 雅俗共赏" class="wp-post-image"width="400" height="200"  /></a>
            </div>
            <!--摘要-->
            <div class="articleFeed">
                <p>
                    关于生活的哲学思辨
                    今日，在广大歌迷翘首以待中，创作才子许嵩第6张全创作专辑《青年晚报》首波推荐曲《雅俗共赏》正式发布。词曲、制作一如既往由许嵩完成。编曲方面，电钢、电吉他与流动的电子乐音色铺陈出迷离氛围，层层推进。歌词方面，有对世态的感...</p>
            </div>
            <!--tags-->
            <div class="articleTags">
                <ul><a href="http://vinceok.com/tag/%e8%ae%b8%e5%b5%a9" rel="tag">许嵩</a><a href="http://vinceok.com/tag/%e9%9b%85%e4%bf%97%e5%85%b1%e8%b5%8f" rel="tag">雅俗共赏</a><a href="http://vinceok.com/tag/%e9%9d%92%e5%b9%b4%e6%99%9a%e6%8a%a5" rel="tag">青年晚报</a></ul>
            </div>
        </div>
        <div class="articleFooter clearfix">
            <ul class="articleStatu">
                <li><i class="fa fa-calendar"></i>2016-04-27</li>
                <li><i class="fa fa-eye"></i>572次浏览</li>
                <li><a href=""><i class="fa fa-folder-o"></i><a href="http://vinceok.com/category/music" rel="category tag">音乐</a></a></li>
            </ul>
            <a href="http://vinceok.com/music/137.html" class="btn btn-readmore btn-info btn-md">阅读更多</a>
        </div>
    </div>
    <!--single article-->
    <!--single article-->
    <div class="article">
        <div class="articleHeader">
            <h1 class="articleTitle"><a href="http://vinceok.com/html5css3/114.html">【原创】纯CSS制作京东商城菜单</a></h1>
        </div>
        <div class="articleBody clearfix">
            <!--缩略图-->
            <div class="articleThumb">
                <a href="http://vinceok.com/html5css3/114.html"><img src="http://vince.qiniudn.com/wp-content/uploads/2016/04/article7-1.png?imageView2/2/w/400/h/200" alt="【原创】纯CSS制作京东商城菜单" class="wp-post-image"width="400" height="200"  /></a>
            </div>
            <!--摘要-->
            <div class="articleFeed">
                <p>文章简介
                    很多前端的同学在最初学习html/css/javascript的时候，都会去模仿学习各大名站，例如淘宝京东等电商网站，今天这是我前不久做的仿京东的大菜单，我觉得做的很满意(样式上)，强迫症表示看得很爽0.0，于是决定提供出来，想用的拿去吧。
                    图片预览


                    ...</p>
            </div>
            <!--tags-->
            <div class="articleTags">
                <ul><a href="http://vinceok.com/tag/%e4%ba%ac%e4%b8%9c%e5%95%86%e5%9f%8e" rel="tag">京东商城</a><a href="http://vinceok.com/tag/%e8%8f%9c%e5%8d%95" rel="tag">菜单</a></ul>
            </div>
        </div>
        <div class="articleFooter clearfix">
            <ul class="articleStatu">
                <li><i class="fa fa-calendar"></i>2016-04-14</li>
                <li><i class="fa fa-eye"></i>501次浏览</li>
                <li><a href=""><i class="fa fa-folder-o"></i><a href="http://vinceok.com/category/html5css3" rel="category tag">HTML5&amp;CSS3</a></a></li>
            </ul>
            <a href="http://vinceok.com/html5css3/114.html" class="btn btn-readmore btn-info btn-md">阅读更多</a>
        </div>
    </div>
    <!--single article-->
    <!--single article-->
    <div class="article">
        <div class="articleHeader">
            <h1 class="articleTitle"><a href="http://vinceok.com/wordpress/90.html">【原创】基于bootstrap的单栏响应式wordpress主题：simple</a></h1>
        </div>
        <div class="articleBody clearfix">
            <!--缩略图-->
            <div class="articleThumb">
                <a href="http://vinceok.com/wordpress/90.html"><img src="http://vince.qiniudn.com/wp-content/uploads/2016/04/CHNsn.jpg?imageView2/2/w/400/h/200" alt="【原创】基于bootstrap的单栏响应式wordpress主题：simple" class="wp-post-image"width="400" height="200"  /></a>
            </div>
            <!--摘要-->
            <div class="articleFeed">
                <p>
                    主题介绍
                    simple，顾名思义，这是一款简洁的单栏wordpress主题，基于bootstrap3.3.5,内置font-awesome字体图标，有着良好的响应式风格，针对各类分辨率的终端进行了优化。这款主题或许没有那么多功能，但这正是我们需要的。之前想网上随便找一个主题，但...</p>
            </div>
        </div>
        <div class="articleFooter clearfix">
            <ul class="articleStatu">
                <li><i class="fa fa-calendar"></i>2016-04-08</li>
                <li><i class="fa fa-eye"></i>2,057次浏览</li>
                <li><a href=""><i class="fa fa-folder-o"></i><a href="http://vinceok.com/category/wordpress" rel="category tag">Wordpress</a></a></li>
            </ul>
            <a href="http://vinceok.com/wordpress/90.html" class="btn btn-readmore btn-info btn-md">阅读更多</a>
        </div>
    </div>
    <!--single article-->
    <!--single article-->
    <div class="article">
        <div class="articleHeader">
            <h1 class="articleTitle"><a href="http://vinceok.com/html5css3/83.html">wordpress后台登录页面美化</a></h1>
        </div>
        <div class="articleBody clearfix">
            <!--缩略图-->
            <div class="articleThumb">
                <a href="http://vinceok.com/html5css3/83.html"><img src="http://vince.qiniudn.com/wp-content/uploads/2016/04/article4-1.png?imageView2/2/w/400/h/200" alt="wordpress后台登录页面美化" class="wp-post-image"width="400" height="200"  /></a>
            </div>
            <!--摘要-->
            <div class="articleFeed">
                <p>文章说明
                    作为一个重度强迫症患者，我对wordpress原生的后台登录界面表示蛋疼，丑的一笔，于是我决定自己动手美化一下，话不多说，请看下面演示地址或预览图片
                    预览图片

                    使用方法
                    1：修改主题目录(博主我的是wp-content/themes/simple/..)下的functions.p...</p>
            </div>
        </div>
        <div class="articleFooter clearfix">
            <ul class="articleStatu">
                <li><i class="fa fa-calendar"></i>2016-04-06</li>
                <li><i class="fa fa-eye"></i>1,163次浏览</li>
                <li><a href=""><i class="fa fa-folder-o"></i><a href="http://vinceok.com/category/html5css3" rel="category tag">HTML5&amp;CSS3</a></a></li>
            </ul>
            <a href="http://vinceok.com/html5css3/83.html" class="btn btn-readmore btn-info btn-md">阅读更多</a>
        </div>
    </div>
    <!--single article-->
{% endblock %}
{% block rightRegion %}
    {% include 'Themes/Blog/templates/rightRegion.twig' %}
{% endblock %}