<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>浏览服务器</title>
    <meta name="description" content="CKeditor Image Browser, from http://coursesweb.net/ , Free"/>
    <meta name="keywords" content="ckeditor, image browse"/>
    <meta name="robots" content="ALL"/>
    <meta name="author" content="MarPlo"/>
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/themes/AdminLTE/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/library/font-awesome-4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/library/ionicons/css/ionicons.min.css">
    <link href="/modules/ckeditor/plugins/imgbrowse/style.css" rel="stylesheet">
    <script src="/library/jquery/2.0.3/jquery.min.js"></script>
</head>
<body CKEditor="{{ CKEditor }}" CKEditorFuncNum="{{ CKEditorFuncNum }}" langCode="{{ langCode }}" id="images_list"
      init="/ckeditor/browse_image_list/1">
</body>
<script type="text/javascript" src="/modules/ckeditor/plugins/imgbrowse/js.js"></script>
</html>
