{{ data.start() }}
{% if layout == 'inline' %}
    <label>{{ formName }}</label>
{% endif %}
{% for key,value in data.formEntity %}{% if value['widget'] is defined %} {{ view.r(data.renderElement(key)) }} {% endif %} {% endfor %}
<div class="form-group">
    <button class="save_sort btn btn-success btn-block" type="submit">提交
    </button>
</div>
</form>
<div class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
</div>
